<div class="wrap">
    <div class="card login-card" *ngIf="name == ''">
        <h1>Login</h1>
        <form (submit)="login($event)">
            <input #name type="text" class="input" placeholder="Enter your name:">
            <button class="submit">Login</button>
        </form>
    </div>
    <div class="card chat-card" *ngIf="name != ''">
        <div class="header">
            <h1>Chat</h1>
            <h3>Account: {{name}}</h3>
        </div>
        <div class="content">
            <div class="chat" *ngFor="let item of messages">
                <div class="message">
                    <div class="sender">{{item.sender}}</div>
                    <div class="message-body">{{item.message}}</div>
                </div>
            </div>
        </div>
        <div class="footer">
            <form (submit)="sendMessage($event)">
                <input #input class="input" type="text" placeholder="Write a message:">
                <button class="submit">Send</button>
            </form>
        </div>
    </div>
</div>